.container {
    font-size: 15px;
    border: 1px solid #ddd;
    margin: 0 auto;
    width: 40%;
    text-align: center;
    padding: 10px;
    display: block;
    text-decoration: none;
    color: white;
    background-color: rgba(8, 7, 7, 0.5);
}

.dataContainer {
    margin-bottom: 10px;
    font-size: 25px;
}

.datasContainer {
    margin: 0 auto;
}

h1 {
    font-size: 40px;
}

label {
    font-weight: 800;
}