.title {
    text-align: center;
    color: white;
}

.cardsContainer {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: center;

}

.filterSelect {
    margin-right: 15px;
    height: 30px;
    padding: 3px
}

.searchBarContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

.paginado {
    display: flex;
    justify-content: center;
}