.container {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    border: 1px solid #ddd;
    margin: 0 auto;
    width: 400px;
    text-align: center;
    padding: 40px;
    /*       */
    text-decoration: none;
    color: #f3f1f1;
    background-color: rgba(8, 7, 7, 0.5);
}

.tech {
    margin-bottom: 0px;
    margin-top: 0px;
}