.title {
    text-align: center;
    color: white;
}

.cardsContainer {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}

.paginadoButton {
    font-weight: 800;
    background-color: red;
    border-color: #710000;
    color: white;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-right: 20px;
    height: 50px;
    width: 50px;
}

.filterSelect {
    margin-right: 15px;
    height: 30px;
    padding: 3px
}

.searchBarContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

.paginado {
    display: flex;
    justify-content: center;
}